@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "../../shared/src/styles/theme.css";

@source "../../shared/src";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

.font-cuprum {
  font-family: 'Cuprum', sans-serif;
}

:root {
  font-family: "Red Hat Display", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-redhat {
  font-family: "Red Hat Display", sans-serif;
}
