name: China Cloud Deployment Test

on:
  push:
    branches:
      - "ya/clean-china-cicd"
    paths:
      - "cloud/**"
      - ".github/workflows/test-file.yml"

jobs:
  china-cloud-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      # 1. Checkout source code
      - uses: actions/checkout@v4

      # 2. Short commit SHA for tagging
      - id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - uses: Mentra-Community/cloud-actions/deploy-app-alibaba@main
        with:
          environment: "dev"
          alibaba-access-key-id: ${{ secrets.ALIBABA_ACCESS_KEY_ID }}
          alibaba-access-key-secret: ${{ secrets.ALIBABA_ACCESS_KEY_SECRET }}
          deployment-region: "cn-shenzhen"
          app-name: "api"
          acr-instance-id: "cri-h675v46p9lj694l6"
          acr-vpc-domain: "mentra-acr-cnsz-a-registry-vpc.cn-shenzhen.cr.aliyuncs.com"
          acr-public-domain: "mentra-acr-cnsz-a-registry.cn-shenzhen.cr.aliyuncs.com"
          docker-context: "./cloud"
          dockerfile: "./cloud/docker/Dockerfile.livekit"
          image-tag: ${{ steps.vars.outputs.sha_short }}
          min-instances: 1
          max-instances: 2
          use-specs: "2.0-4.0Gi"
          vswitch: "vsw-wz94gyb5cinmsod89a4tj, vsw-wz9p9qoldncmf9k5se950"
          security-group: "sg-wz95j71022jl4tezfozp"
          env-yaml: |
            - name: redeploy
              value: "2"
            - name: DEPLOYMENT_REGION
              value: "china"
